
body {
  background: gray;
}


/* 
  Canvas styles 
  should at least have
  position: relative 
*/
#divcanvas {
  background: white;
  width: 640px;
  height: 480px;
  margin: auto;
  margin-top: 100px;
  position: relative;
}


/* Basic css for generated elements */
div.p {
  position: absolute;
  overflow: hidden;
  width: 0px;
  height: 0px;
}
/* Used in textCircle */
span.p {
	position: absolute;
	cursor: default;
	line-height: 1;
}