
body {
  background: gray;
  text-align: center;
}


/*
  Canvas styles
  should at least have
  position: relative
*/
#divcanvas {
  background: white;
  width: 640px;
  height: 480px;
  margin: 100px auto 10px;
  position: relative;
}


/* Basic css for generated elements */
div.p {
  position: absolute;
  overflow: hidden;
  width: 0px;
  height: 0px;
}
/* Used in textCircle */
span.p {
	position: absolute;
	cursor: default;
	line-height: 1;
}
